@page "{hash?}"
@model IndexModel
@{
    ViewData["Title"] = "Redouane's Free URL shortening!";
}

<h1 class="mt-5 text-center">@ViewData["Title"]</h1>
<br />
<div class="form-group">
    <form method="post" target="_self">
        <fieldset>
            <div class="input-group">
                <input class="form-control input-lg" name="url" asp-for="URL" required placeholder="Paste Your URL here..." type="url">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="submit">Shorten</button>
                </span>
            </div>
        </fieldset>
    </form>
</div>